.main_container {
  width: 75%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.color_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.color_picker {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 5em;
  padding: 0;
  width: 5em;
}

.color_input {
  display: block;
  margin: 0;
  padding: 0.2rem 0.4rem;
  color: inherit;
  width: 120px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

.hsl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rgb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 20px;
}
